@{
    ViewData["Title"] = "MyPersonalBookList.com - Coming Soon!";
}

    <div class="text-center">
        <h1>Coming Soon!</h1>
        <p>If you're like me, youv'e been clamoring for something that is at once simpler and yet also more powerful than Goodreads. Something easier to use, that allows you to more easily see exactly what you have in the way you want to see it.</p>

        <p>If that sounds like something you're interested in, something you've been searching for - maybe without even realizing it...</p>

        <p>I invite you to bookmark this page. Follow my efforts here as I attempt to create just such a place.</p>

        <p>And if you'd like to talk, please contact me on Facebook at <a href="http://www.facebook.com/BookAnonJeff" target="_blank" rel="noopener noreferrer">Facebook.com/BookAnonJeff</a>.</p>
    </div>
