@{
    ViewData["Title"] = "My Reports";
}
<h1>@ViewData["Title"]</h1>

<p>This page would house various reports on your books based on a reporting engine I've used sucessfully a few times in other projects.</p>
